*{
    padding: 0;
    margin: 0;
}
body{
    background-color: aqua;
    font-family: sans-serif;
height: 100vh;
width: 100%;
 box-sizing:border-box ;

}
.container{
    background: lightseagreen;
    width: 100%;
    height: 100vh;


}
nav{
    background: blueviolet;
    height: 20%;
    width: 100%;
}
.nav_bar{
    list-style: none;
    align-items: center;
    padding: 20px;

}

.nav_bar ul li {
    list-style: none;
    margin: 10px 20px;
    float: right;
    display: flex;
    text-decoration: none;
    padding-left: 20px;
    justify-content: space-between;
    background: violet;
    color: black;
    border-radius: 7px;
    width: 70px;
}
.nav_bar ul li:hover{
cursor: pointer;
color: aqua;
font-size: 18px;
transition: .2s;
}

.container {
    color: aquamarine;
  padding-top: 45px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 750;

}
.form{
    font-family: 'Times New Roman', Times, serif;  
    font-size: 45px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
    position: relative;
   /* max-width: 900px;
     */
    min-height: 300px;
  
    align-items: center;
  
    border-radius: 7px;
    padding: 30px;
    margin: 0 15px;
    background-color:aquamarine ;
    box-shadow: 0 5px 10px violet ;
}
label{
    font-size: 20px;
    color: blue;
    font-weight:185;
}
.btn{
    padding-top: 60px;
    margin-left: -50px;

}
input{
    margin-top: 20px;
    padding: 15PX;
    border-radius: 5px;
    background:greenyellow;
    color: rgb(30, 10, 243);
    border: none;
    cursor: pointer;
    height: 30px;
    width:400px ;
    font-size: 18px;

}
input:hover{
    color: black;

}
input placeholder{
    justify-content: center;
    align-items: center;
    color: bisque;
}
select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    color: green;

}
button{
    height: 50px;
    width: 100px;
    margin-top: 30px;
    background-color: red;
    color: white;
    font-size: 20px;
}
button:hover{
    cursor: pointer;
    color: greenyellow;
    transition: .3s;
}
h2{
    color: aliceblue;
    justify-content: center;
    align-items: center;
display: flex;
}
.table-user{
  padding-right: 12px;
  display: flex;
   justify-content: space-between;

margin-right: 10px;




}
delete{
    
}